/* * IMPORTS * */
@import "tailwindcss";
/* (example to set prefix: @import "tailwindcss" prefix(tw); usage: tw:bg-red-500) */
/* * PLUGINS * */
/* @plugin (example: tailwindcss-animate); */

@import "tw-animate-css";



/* https: //tailwindcss.com/docs/theme#default-theme-variable-reference */
/* Default theme namespace: https: //tailwindcss.com/docs/theme#default-theme-variable-reference:~:text=xl%22)%3B-,Default%20theme%20variable%20reference,%7D,-Dark%20mode */

:root {
  --text: oklab(17.49% 0.002 -0.01);
  --background: oklab(94.16% 0.006 -0.02);
  --primary: oklab(63.84% -0.015 -0.16);
  --secondary: oklab(66.09% 0.020 -0.10);
  --accent: oklab(40.92% 0.011 -0.17);

  --radius: 0.425rem;

  --foreground: var(--text);
  --card: oklch(99% 0.001 -0.01);
  --card-foreground: var(--text);
  --popover: oklch(99% 0.001 -0.01);
  --popover-foreground: var(--text);
  --primary-foreground: oklch(98% 0.002 -0.01);
  --secondary-foreground: var(--text);
  --muted: oklch(95% 0.005 -0.02);
  --muted-foreground: oklch(45% 0.010 -0.10);
  --accent-foreground: var(--text);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(98% 0.002 -0.01);
  --border: oklch(90% 0.010 -0.05);
  --input: oklch(90% 0.010 -0.05);
  --ring: var(--primary);
  --chart-1: var(--primary);
  --chart-2: var(--secondary);
  --chart-3: var(--accent);
  --chart-4: oklch(55% 0.180 -0.20);
  --chart-5: oklch(65% 0.200 -0.18);
  --sidebar: oklch(98% 0.002 -0.01);
  --sidebar-foreground: oklch(var(--text));
  --sidebar-primary: oklch(var(--primary));
  --sidebar-primary-foreground: oklch(98% 0.002 -0.01);
  --sidebar-accent: oklch(95% 0.010 -0.03);
  --sidebar-accent-foreground: oklch(var(--text));
  --sidebar-border: oklch(90% 0.010 -0.05);
  --sidebar-ring: oklch(var(--primary));
  --gradient-accent: oklch(var(--accent));
}

.dark {
  --text: oklab(94.12% 0.002 -0.01);
  --background: oklab(12.10% 0.003 -0.04);
  --primary: oklab(40.77% -0.020 -0.17);
  --secondary: oklab(36.20% 0.014 -0.11);
  --accent: oklab(54.47% 0.020 -0.16);

  --foreground: var(--text);
  --card: oklch(12% 0.005 -0.05);
  --card-foreground: var(--text);
  --popover: oklch(12% 0.005 -0.05);
  --popover-foreground: var(--text);
  --primary-foreground: var(--text);
  --secondary-foreground: var(--text);
  --muted: oklch(20% 0.015 -0.08);
  --muted-foreground: oklch(60% 0.020 -0.08);
  --accent-foreground: var(--text);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: var(--text);
  --border: oklch(25% 0.020 -0.08);
  --input: oklch(25% 0.020 -0.08);
  --ring: var(--primary);
  --chart-1: var(--primary);
  --chart-2: var(--secondary);
  --chart-3: var(--accent);
  --chart-4: oklch(50% 0.180 -0.20);
  --chart-5: oklch(60% 0.200 -0.18);
  --sidebar: oklch(12% 0.005 -0.05);
  --sidebar-foreground: oklch(var(--text));
  --sidebar-primary: oklch(var(--primary));
  --sidebar-primary-foreground: oklch(var(--text));
  --sidebar-accent: oklch(20% 0.015 -0.08);
  --sidebar-accent-foreground: oklch(var(--text));
  --sidebar-border: oklch(25% 0.020 -0.08);
  --sidebar-ring: oklch(var(--primary));
  --gradient-accent: oklch(var(--accent));
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-gradient-accent: var(--gradient-accent);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

}